/Spring Practise/Home Task/TestingDI/nbproject/private/
/Spring Practise/Home Task/TestingDI/build/
/Spring Practise/Class Task/AnnotationByConfigution/nbproject/private/
/Spring Practise/Class Task/SpringTest/nbproject/private/
/Spring Practise/Class Task/SpringTest/build/
/Spring Practise/Class Task/JavaApplication1/build/
/Spring Practise/Class Task/JavaApplication1/nbproject/private/