<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="myFortune" class="springluv2code.HappyFurtuneService"></bean>
    
    <bean id="myCoach" class="springluv2code.TrackCoach">
        <constructor-arg ref="myFortune"></constructor-arg>
        
    </bean>
    
    <bean id="cricketCoach" name="springluv2code.CricketCoach">
        
        <property name="fortuneService" ref="myFortune">           
            
        </property>
    </bean>
   

</beans>
